<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<title>Credit Card Info</title>
<a class="curr" href="creditcard"></a>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Sansita+Swashed:wght@300&family=Smooch+Sans:wght@100&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nothing+You+Could+Do&family=Open+Sans+Condensed:wght@300&family=Shizuru&family=Tillana&family=Titillium+Web:wght@200&display=swap');

    /* Header */
    
    /* General Text Wrapper */

    body {
        background: url('space.jpg')
    }

    .entirewrapper {
        padding-top: 100px;
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
    }

    .cardwrapper {
        height: auto;
        margin: auto;
        width: 60%;
        /* background-color: black; */
        /* padding: 3% 6%; */
        padding-bottom: 30px;
        border: 2px solid white;
        background: black;

    }

    .list_items_wrapper {
        height: auto;
        margin: auto;
        width: 30%;
        padding-bottom: 30px;
        border: 2px solid white;
        background: black;
    }

    .userinfo_wrapper {
        display: flex;
        justify-content: center;
        color: white;
        font-family:'Titillium Web', sans-serif; 
        border-bottom: 2px solid white;
    }

    .card {
        display: flex;
        justify-content: center;
        color: white;
        /* border-radius: 25px; */
        font-family:'Titillium Web', sans-serif; 

    }

    h2, h3, h5{
        font-family:'Titillium Web', sans-serif; 
        text-align: center;
        color: white;
    }

    span {
        font-family:'Titillium Web', sans-serif;
        color: white;
    }

    .row {
        display: flex;
        padding-bottom: 10px;
    }

    .holdername, .card-exp, .get_name, .get_street, .get_zip, .get_country {
        padding-right: 50px;
    }

    /* .get_phone {
        padding-bottom: 10px;
    } */

    #warning2 {
        padding-top: 10px;
        padding-bottom: 20px;
    }


    .m_button {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
    
    .a_button_w {
      padding-right: 10px;
    }

    #a_button, #b_button {
        font-size: 18px;
        color: black;
        /* padding: 10px 20px; */
        text-align: center;
        font-family:'Titillium Web', sans-serif; 
        
        }

    #a_button:hover {
        background: rgba(221, 226, 221, 0.2);
        color:white;
        }
        
    #b_button:hover {
        background: rgba(221, 226, 221, 0.2);
        color:white;
        }

    /* input[type=text] {
        padding-right: 20px;
    } */

    @media (max-width: 800px) {
        .row {
            display: inline;
        }
    }

    @media (max-height: 500px) {  
                        
    }


</style>
</head>

<body>
<script>

// ADDED FROM HERE
$(document).ready(function() {
    addPrice();
	submitOrder();
})


function submitOrder() {
	$('input[type="button"]').click(function () {
        var y = validate_shippingInfo();
        var x;
        if (y) {
            document.getElementById("warning2").innerHTML = "";
            x = validation();
        }
        if (x) {
            displayConfirmPurchasePage();	
        }
	})
}

function displayConfirmPurchasePage() {
    alert("Payment Success");
    // $("#e_wrapper").hide();
}
function validate_shippingInfo() {
    if (checkLength(document.getElementById("gname").value,0)) {
        document.getElementById("warning2").innerHTML = "No Name";
        return false;
    } else if (checkLength(document.getElementById("gaddress").value,0)) {
        document.getElementById("warning2").innerHTML = "No Adress";
        return false;
    } else if (checkLength(document.getElementById("gstreet").value,0)) {
        document.getElementById("warning2").innerHTML = "No Street";
        return false;
    } else if (checkLength(document.getElementById("gcity").value,0)) {
        document.getElementById("warning2").innerHTML = "No City";
        return false;
    } else if (checkLength(document.getElementById("gzip").value,0)) {
        document.getElementById("warning2").innerHTML = "No ZIP Code";
        return false;
    } else if (checkLength(document.getElementById("gstate").value,0)) {
        document.getElementById("warning2").innerHTML = "No State";
        return false;
    } else if (checkLength(document.getElementById("gcountry").value,0)) {
        document.getElementById("warning2").innerHTML = "No Country";
        return false;
    } else if (checkLength(document.getElementById("gphone").value,0)) {
        document.getElementById("warning2").innerHTML = "No Phone Number";
        return false;
    } else {
        return true;
    }
}

function validation() {
    if (checkLength(document.getElementById("hname").value,0)) {
        document.getElementById("warning").innerHTML = "No Holder Name";
        return false;
    } else if (checkLength(document.getElementById("cc-cvc").value,0)) {
        document.getElementById("warning").innerHTML = "No CVC";
        return false;
    } else if (!checkLength(document.getElementById("cc-cvc").value,4)) {
        console.log("hi");
        document.getElementById("warning").innerHTML = "Please enter 4-digit cvc";
        return false;
    } else if (checkLength(document.getElementById("cc-number").value,0)) {
        document.getElementById("warning").innerHTML = "No Card Number";
        return false;
    } else if (!creditCardValidation(document.getElementById("cc-number").value)) {
        console.log(document.getElementById("cc-number").value);
        document.getElementById("warning").innerHTML = "Please enter a valid credit card number.";
        return false;
    } else if (checkLength(document.getElementById("cardexp").value,0)) {
        document.getElementById("warning").innerHTML = "No Card Expiration Date";
        return false;
    } else {
        return true;
    }
}

function checkLength(n, len) {
    if (n.length == len) {
        return true;
    } else {
        return false;
    }
}


function updateCardLogo(object) {
    var temp = object.value;
    // object.value = cardHide(object.value);
    var x;
    console.log(temp);
        if ( temp.length == 16)
        {
           x = identifyCard(temp);
           console.log(x);
        }
        if (x == 1) {
            document.getElementById('master').style.opacity = "0.5";
        } 
        if (x == 2) {
            document.getElementById('visa').style.opacity = "0.5";
        } else if (x != 1 && x != 2){
            document.getElementById('master').style.opacity = "1";
            document.getElementById('visa').style.opacity = "1";

        }
}


// function cardHide(card) {
//   return card.replace(/.(?=.{0})/g, "•");
// }

function identifyCard(creditCradNum) {
    var visaReg = /^4[0-9]{12}(?:[0-9]{3})?$/;
    var masterReg = /^5[1-5][0-9]{14}$|^2(?:2(?:2[1-9]|[3-9][0-9])|[3-6][0-9][0-9]|7(?:[01][0-9]|20))[0-9]{12}$/;
    if(creditCradNum.match(visaReg)){
        return 1;
    }
    if(creditCradNum.match(masterReg)){
        return 2;
    }
}

function creditCardValidation(creditCradNum)
{
    var x = identifyCard(creditCradNum);
    if ((creditCradNum.length == 16) && (x == 1 || x == 2)) {
        console.log("true");
        return true;
    } else {
        console.log("false");
        return false;
    }
}   

function addPrice() {
    var p_list = document.getElementsByClassName("price");
    var q_list = document.getElementsByClassName("quantity");
    var total = 0;
    for (var i=0; i < p_list.length; i++) {
        total += parseFloat(p_list[i].innerHTML) * parseInt(q_list[i].innerHTML);
    }
    
    document.getElementById("total").innerHTML = total.toFixed(2);
}

</script>
<div class = "entirewrapper" id = "e_wrapper">
<div class = "list_items_wrapper">
    <div class = "order_wrapper">
        <h3>Order Summary:</h3> 
    </div>
    <!-- order list goes here -->
    <div class = "order_contents_wrapper" id = "order_contents">
        <% query.forEach(function(q) { %>
            <div class="items">
                <h5><span class="name"><%= q.name%>: </span>$<span class="price"><%= q.price%></span> x <span class="quantity"><%= q.quantity%></span></h5>
            </div>
         <% }); %>
         <hr>
         <div class="total">
            <h2>Total: $<span id="total"></span></h2>
         </div>
    </div>
</div>
<div class = "cardwrapper">
    <div class="s_start">
        <h2>Shipping Address:</h2> 
    </div>
    <div class = "userinfo_wrapper">
        <div class = "userinfo_wrapper2">
        <div class = "row">
            <div class = "get_name">
                <label for="get_adress">NAME</label><br>
                <input type="text" id = "gname"> <br>
            </div>
            <div class = "get_address">
                <label for="get_adress">ADDRESS</label><br>
                <input type="text" id = "gaddress"> <br>
            </div>
        </div>
        <div class = "row">
            <div class = "get_street">
                <label for="get_adress">STREET</label><br>
                <input type="text" id = "gstreet"> <br>
            </div>
            <div class = "get_city">
                <label for="get_adress">CITY</label><br>
                <input type="text" id = "gcity"> <br>
            </div>
        </div>
        <div class = "row">
            <div class = "get_zip">
                <label for="get_adress">ZIP</label><br>
                <input type="text" id = "gzip"> <br>
            </div>
            <div class = "get_state">
                <label for="get_adress">STATE</label><br>
                <input type="text" id = "gstate"> <br>
            </div>
        </div>
        <div class = "row">
            <div class = "get_country">
                <label for="get_adress">COUNTRY</label><br>
                <input type="text" id = "gcountry"> <br>
            </div>
            <div class = "get_phone">
                <label for="get_adress">PHONE</label><br>
                <input type="text" id = "gphone"> <br>
            </div>
        </div>
        <p id="warning2"></p>
    </div>
    </div>
    <div class="start">
        <h2>Payment: Credit/Debit Card</h2> 
    </div>
    <div class="card">
    <div class="card-info">
        <div class="row">
            <!-- card holder name --> 
            <div class = "holdername">
                <label for="numeric">CARD HOLDER NAME</label> <br>
                <input type="text" id = "hname"> <br>
            </div>
            <!-- card cvc --> 
            <div class = "cvcinfo">
                <label for="cc-cvc">CVC</label> <br>
                <input id="cc-cvc" type="tel" placeholder="••••"> <br>
            </div>
        </div>
        <div class="row">
         <!-- card number -->
        <div class = "card-number">
        <label for="cc-number">CARD NUMBER</label><br>
        <input id="cc-number" type="tel" onkeydown = "updateCardLogo(this);" onchange="updateCardLogo(this);" placeholder="•••• •••• •••• ••••"><br>
        </div>
        </div>
        <!-- card exp --> 
        <div class = "row">
        <div class = "card-exp">
            <label for="cardexp">EXP</label> <br>
            <input id="cardexp" type="tel" placeholder="•• / ••"><br>
        </div>
        <div class = "card_img">
            <br>
            <img id = "visa" src= "visa.png"> 
            <img id = "master" src= "master.png"> 
        </div>
    </div>
    <p id="warning"></p>
    <div class = "m_button">
    <div class = "a_button_w"><input value="MAKE PAYMENT" type="button" id = "a_button"></div>
    <div class = "b_button_w"><input value="RETURN" type="button" id = "b_button" onclick = "history.back()">
      
    </div></div>        
</div>
</div>
</div>
</div>
</body>
</html>
